<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div id="github-click-container" v-on:click="locate()"></div>
<div id="github-logo">
  <img src="img/github-logo.png" alt="github cat logo">
</div>

<h1>Spell Checkr</h1>
<img class="squiggly" src="img/squiggly.png" alt="spelling error squiggly line">
<!-- <h3>Find the camoflauged spelling error in your code</h3> -->

<div class="description">
  <p>
  Code editors do not provide autocorrect for spelling errors which sometimes allow silent execution of comparison operations without catching any exceptions for unknown instantiations. This can be an eye sore when there are over hundreds of lines of code.
  </p>

  <br />

  <p>
  Spell Checkr attempts to find these errors by comparing single-event variables with multiple-event variables. By collecting all the rare words used only once in the document and checking for similarities with more common words, those sneaky spelling errors can be found and fixed, saving development time for greater tasks.
  </p>

  <br />

  <p>
  Copy and paste your code into the editor for a quick analysis.
  </p>

  <p class="note">
  Note: Limitations of the algorithm may produce results that are single-events but may not necessarily be incorrect. Like the code editor, the correctness of each word is left up to the discretion of the developer.
  </p>
</div>

<div id="button-container">
  <button id="check-button" v-on:click="check()" class="btn btn-primary">Check</button>
</div>

<div id="error-container">
  <p id="error-notification">
   <!-- {number} potential spelling errors found: -->
  </p>

  <div id="columnOne">
  </div>
<!-- pretty print up to 21 errors   
  <div id="columnTwo">
  </div>  
  <div id="columnThree">
  </div>    
-->
</div>

<pre id="editor">
  const editor = ['ace', 'magic'];

  const pasteYour = code => {
    for (let into = 0; into &lt; editor.length; into++) {
        alert("Here " + editoe.length[intop]);
    }
};
</pre>

  <% include ../partials/scripts.ejs %> 
</body>
</html>
